/* ========================
    Mobile First workflow
==========================*/

/* ----------------
    Google Fonts
-------------------*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

/* ----------------
    Custom properties
-------------------*/
:root {
  --brand-900: hsl(243, 87%, 12%);
  --brand--600: hsl(238, 22%, 44%);
  --light-100: hsl(240, 75%, 98%);
  --light-400: hsl(0, 0%, 75%);
  --accent-600: hsl(224, 93%, 58%);
  --accent-400: hsl(170, 45%, 43%);
  --white: hsl(0, 0%, 100%);
  --ff-sans: "Open Sans", sans-serif;
  --ff-raleway: "Raleway", sans-serif;
  --fw-normal: 400;
  --fw-bold: 700;

  --fs-base: 1rem;
}

/* ----------------
    General styles
-------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

h1,
h2,
h3,
button {
  font-family: var(--ff-raleway);
  font-weight: var(--fw-bold);
}

a {
  font-family: var(--ff-raleway);
  font-weight: var(--fw-normal);
}
/* ----------------
    Setup body
-------------------*/
body {
  min-height: 100vh;
  color: var(--brand-900);
  background-color: var(--light-100);
  font-family: var(--ff-sans);
  font-weight: var(--fw-normal);
  font-size: var(--fs-base);
  overflow-x: hidden;
  overflow-y: scroll;
}

html {
  scrollbar-color: var(--accent-400) var(--brand-900);
  scroll-behavior: smooth;
  scroll-padding: 1em;
}

/* ----------------
    Utilities
-------------------*/

.wrapper {
  max-width: 75rem;
  padding-inline: 2rem;
  margin-inline: auto;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-column {
  flex-direction: column;
}
.column-reverse {
  flex-direction: column-reverse;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.cols {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/* ----------------
    Components
-------------------*/

.primary-header {
  padding-block: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-width: 6rem;
}

.nav-links {
  --gap: 1rem;
  width: 100%;
}

.nav-link {
  display: inline-block;
  padding-bottom: 0.6em;
  padding-inline: 0.2em;
  color: var(--brand-900);
  position: relative;
}

.nav-link:hover,
.nav-link:focus {
  outline-offset: 3px;
}
.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.125em;
  background-color: var(--brand-900);
  transition: width 300ms ease-in-out;
}

.nav-link:hover::after,
.nav-link:focus::after {
  width: 100%;
}

/* showcase */

.showcase {
  margin-block: 2rem;
  padding-block: 3rem;
  text-align: center;
}

.showcase-content {
  padding-block: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.showcase-title {
  font-size: clamp(1.75rem, 2.5vw + 1rem, 2.5rem);
  max-width: 45ch;
}

.showcase-description {
  opacity: 0.75;
  max-width: 55ch;
}

/* form */

.form {
  flex-direction: column;
  width: 100%;
  position: relative;
}

.form__label {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5em;
  position: relative;
}
.form__input {
  width: 100%;
  display: block;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  border: 0;
  outline: 0.1em solid var(--brand-900);
  color: var(--brand-900);
  border-radius: 0.5em;
  margin-block: 0.5rem;
}

.form__error {
  align-self: flex-start;
  color: rgb(255, 71, 71);
  font-size: 0.75em;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: inline-block;
  font-weight: 700;
  transform: scaleX(0);
  opacity: 0;
  visibility: hidden;
  transition: transform 250ms ease-in-out;
}

.form__error[data-error="true"] {
  transform: scaleX(1);
  visibility: visible;
  opacity: 1;
}

.form__btn {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  background-color: var(--accent-600);
  color: var(--light-100);
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 0.5em;
  transition: opacity 300ms ease-in-out, transform 200ms ease-in-out;
}

.form__btn:hover,
.form__btn:focus {
  opacity: 0.75;
  transform: skewX(18deg);
}

/* Features */

.features {
  margin-block: 2rem;
  padding-block: 3rem;
  text-align: center;
}

.features-content {
  padding-block: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.features-title {
  font-size: clamp(1.6rem, 3vw + 1rem, 1.9rem);
  max-width: 35ch;
}
.features-description {
  opacity: 0.75;
  max-width: 55ch;
  text-align: center;
}

.features-btn {
  align-self: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: var(--accent-400);
  font-size: 1.1em;
  font-weight: 700;
  padding-bottom: 0.5em;
  text-shadow: 0 0 0.5em hsla(170, 45%, 43%, 0.1),
    0 0 0.7em hsla(170, 45%, 43%, 0.1);
  position: relative;
  transition: all 350ms ease-in-out;
}

.features-btn img {
  transition: transform 300ms ease-in-out;
}

.features-btn::before {
  content: "";
  position: absolute;
  height: 0.15em;
  width: 100%;
  background-color: var(--accent-400);
  bottom: 0;
  left: 0;
  transition: width 350ms ease-in-out;
}

.features-btn::after {
  content: "";
  position: absolute;
  height: 0.25em;
  width: 0%;
  background-color: var(--accent-400);
  bottom: 0;
  left: 0;
  z-index: 33;
  transition: width 450ms ease-in-out;
}
.features-btn:hover {
  text-shadow: 0.2em 0.1em 0.5em hsla(170, 45%, 43%, 0.7);
}

.features-btn:hover::after {
  width: 100%;
}

.features-btn:hover::before {
  width: 0%;
}
.features-btn:hover img {
  transform: translateX(0.25em);
}

.tweet {
  width: 80%;
  background-color: var(--white);
  padding: 3em 1.7em;
  border-radius: 1em;
  box-shadow: 0 0 0.5rem var(--light-400);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: start;
  position: relative;
}

.tweet::after {
  content: "";
  position: absolute;
  height: 2rem;
  width: 2rem;
  background-image: url(../images/icon-quotes.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  top: 1em;
  margin-bottom: 2rem;
}

.tweet p {
  max-width: 95ch;
  color: var(--brand--600);
}

.tweet-author {
  display: flex;
  align-items: center;
  gap: 1em;
}

.tweet-author img {
  display: block;
  border-radius: 100%;
  max-width: 3rem;
}

.tweet-author p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  gap: 0.5rem;
}

.tweet-author a {
  color: var(--brand-900);
  font-weight: 700;
}

.tweet-author span {
  font-size: 0.75rem;
  color: var(--brand--600);
}

/* Contact */

.contact {
  background-color: var(--brand--600);
  padding-block: 5rem;
  color: var(--white);
}

.contact .cols {
  flex-direction: column;
}

.contact-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.contact-content h2 {
  font-size: clamp(1.25rem, 3vw + 1rem, 1.75rem);
}

.contact-content p {
  max-width: 55ch;
  color: var(--light-400);
}

.contact-form {
  width: 100%;
  display: grid;
  place-items: center;
}

/* Footer */

.footer {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: var(--brand-900);
  color: var(--white);
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.footer-content {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  flex-direction: column;
  width: 100%;
}

.footer-address {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  gap: 2rem;
}

.footer-links {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: column;
}

.footer-link {
  color: var(--light-100);
  display: inline-block;
  padding-bottom: 0.6em;
  padding-inline: 0.2em;
  position: relative;
}

.footer-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.1em;
  width: 0%;
  background-color: var(--light-400);
  transition: width 250ms ease-in-out;
}

.footer-link:hover::after {
  width: 100%;
}

.social {
  align-self: center;
}

.social-links {
  --gap: 2rem;
}

.social-link {
  display: inline-grid;
  place-items: center;
  border: 0.1em solid var(--white);
  border-radius: 100%;
  aspect-ratio: 1;
  height: 2.8rem;
  transition: all 400ms ease-in-out;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-400);
}
.social-icon {
  width: 50%;
  object-fit: cover;
}

/* --------------------
     Break point 
------------------------*/

@media (min-width: 35rem) and (max-width: 49.999rem) {
  .form {
    max-width: 75%;
  }
}

@media (min-width: 50rem) {
  .logo {
    max-width: 10rem;
  }
  .nav-links {
    --gap: 3.5rem;
  }
  .cols {
    flex-direction: row;
    gap: 3rem;
  }
  .showcase-content {
    min-width: 35rem;
    align-items: flex-start;
    text-align: start;
  }
  .form {
    max-width: 25rem;
  }

  .features {
    text-align: start;
  }

  .features-content {
    align-items: flex-start;
    min-width: 35rem;
  }

  .features-description {
    text-align: start;
  }

  .features-btn {
    align-self: flex-start;
  }

  .contact .cols {
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-form {
    max-width: 25rem;
  }

  .contact-content {
    gap: 1rem;
    text-align: start;
    align-items: flex-start;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-nav {
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
  }

  .social {
    align-self: flex-start;
    justify-self: flex-start;
  }
}

.fadeIn {
  animation: fadeIn 1100ms ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
